body
{
  background-color: #ffa333;
}
.carousel-inner img
{
  left: 50%;
  right: 50%;
}
h1
{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact {
  cursor: pointer;
  color: #0088cc;
  background-color:  #232426;
  padding: 50px;
}
.contact ul
{
  margin-left: 100px;
}
.order
{
  background-color: #ffe8cc;
}
#form1
{
  margin-left: 20px;
  margin-top: 20px;
}
