body
{
  background-color: #ffa333;
}
.carousel-inner img
{
  left: 50%;
  right: 50%;
}
h1
{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.top
{
  text-align: center;
}
.topping
{
  font-size: 30px;
  margin-left: 50px;
  text-decoration: underline;
}
.card
{
  background-color: #ffb356;
}
.order
{
  background-color: white;
  margin-bottom: 100px;
}



#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
